<div class="container help_div">
  <h1>Edit</h1>
  <form name="form" ng-submit="ctrl.editUser()">
    <label>Username: </label>
    <input name="username" type="text" ng-model="ctrl.user.username" required="required"> <br>

    <div ng-if="form.username.$touched && form.username.$error.required">
      Username is required
    </div>

    <label>Email: </label>
    <input name="email" type="email" required="required" ng-model="ctrl.user.email"> <br>

    <div ng-if="form.email.$touched && form.email.$error.required">
      Email is required
    </div>
    <div ng-if="form.email.$touched && form.email.$error.email">
      A valid email is required
    </div>


    <input type="submit" value="Submit Changes">
  </form>
</div>
