<div class="container help_div">

    <h1>Help Center</h1>
    <br><br><hr><br>
    <h3 class="question">What is this site?</h3><br>
    <p class="answer">This is a project of mine that is meant to catalogue my personal collection of blu-ray movies so that friends and family can see what I have in case they want to borrow something.</p>
    <br><hr><br>
    <h3 class="question">Why is it so bad?</h3><br>
    <p class="answer">Well this is still a work in progress, I plan on updating it periodically with new layouts, features, etc.</p>
    <br><hr><br>
    <h3 class="question">How does it work?</h3><br>
    <p class="answer">After creating an account, you can browse movies by scrolling, by using the search bar, or by genre. If you find a movie that you want to borrow, simply click the movie and then click the Reserve button. This will reserve the movie and assure that no one else can reserve it. At this point, you don't need to do anything else. I will be notified and will contact you and get the movie to you.</p>
    <br><hr><br>
    <h3 class="question">What if I accidentally click the button or click the button then change my mind?</h3><br>
    <p class="answer">As of now, meaning as long as this question is still on the help page, just shoot me a message or text and notify me so I can reverse it.</p>

</div>
