
<div class="container indmoviecont">
  <div class="moviedivfilter moviediv">
    <img src="{{ctrl.movie.img_url}}" alt="">
  </div>
  <div class="movieinfo">
    <h1>{{ctrl.movie.title}}</h1>
    <br>
    <p class="yearrating">Year: {{ctrl.movie.year}} &emsp; &emsp; Rated: {{ctrl.movie.rated}}</p>
    <br>
    <p class="yearrating">Runtime: {{ctrl.movie.runtime}} &emsp; &emsp; IMDB Rating: {{ctrl.movie.imdb_rating}}</p>
    <br>
    <p><strong>Actors:</strong> {{ctrl.movie.actors}}</p>
    <br><br>
    <p><strong>Synopsis: </strong>{{ctrl.movie.description}}</p>
    <br><br><br>
    <div ng-if="ctrl.movie.reserved" class="reservedtext"><p>Not in Stock</p></div>
    <button class="btn btn-primary reservebutton" ng-click="ctrl.reserve()" ng-disabled="ctrl.movie.reserved == true">Reserve</button>
  </div>

</div>
