.container-signup {
  background-image: url(movie-collage3.jpg);
  background-position: center;
  background-size: contain;
  width: 100vw;
  height: 100vh;
}
.navbar-default {
  background-color: hsla(0, 0%, 0%, .7);
  border: none;
  height: 8%;
}
#navbarname {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: red;
}
nav #name {
  float: left;
  margin-left: 5vw;
}
#navbarlink a {
  color: red;
  font-size: 2em;
}
nav #link {
  padding: 5px 5px 0px;
  border: 1px solid red;
  margin-top: 10px;
  float: right;
  margin-right: 5vw;
}
.container-signup h2 {
  text-align: center;
}
#flexbox {
  display: flex;
}
#signup {
  border-radius: 5px;
  background-color: #F0F0F0;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 40px;
  margin-top: 25vh;
  margin-bottom: 5vh;
  border: 2px solid red;
}
#facebook_login {
  padding: 5px 10px;
  background-color: #3B5998;
}
#facebook_login a {
  color: white;
  padding-left: 10px;
}
#facebook_login img {
  width: 20px;
  height: 15px;
  padding-right: 3px;
}

body {
  background-color: #141414;
}

.navbar-nav > li > .dropdown-menu {
  margin-left: 40px;
  background-color: #141414;
  border: 1px solid red;
}
.navbar-nav > li > .dropdown-menu a {
  color:white;
  background-color: #141414;
}


/*======= Home Page ======== */

.homelayoutdiv {
  margin-top: 100px;
  color:white;
}
.homelayoutdiv h1 {
  margin-bottom: 50px;
}
.ind_movie img {
  height: 400px;
  width: 280px;
  float: left;
  margin-left: 25px;
  margin-bottom: 10px;
  border-radius: 5%;
}


/*======== Show Page =======*/

.indmoviecont {
  margin-top: 80px;
  background-color: #e0e0c5;
  height: 90vh;
  color: white;
}
.indmoviecont img {
  height: 550px;
}
.moviediv {
  float: left;
  margin-right: 20px;
  margin-top: 100px;
}
.movieinfo {
  text-align: center;
  margin-top: 100px;
  color:black;
}
.movieinfo h1 {
  font-weight: bold;
  text-decoration: underline;
}
.yearrating {
  font-weight: bold;
}
.reservebutton {
  width: 20%;
  height:10%;
  background-color: red;
}
